@import "../../../styles/shared.scss";

.simple-slider {
  z-index: 1;
  height: 100%;
  & .carousel-root,
  & .carousel.carousel-slider,
  & .slider-wrapper.axis-horizontal,
  & .slider.animated {
    height: 100%;
  }
  & .carousel.carousel-slider .control-arrow {
    width: 64px;
  }
  & .carousel.carousel-slider .control-arrow:hover {
    background-color: rgba($primary, 0.2);
  }
  & .carousel .control-dots .dot.selected,
  .carousel .control-dots .dot:hover {
    background-color: $primary;
  }
  & .carousel .control-dots .dot {
    opacity: 1;
  }

  & .carousel .control-prev.control-arrow:before {
    width: 9px;
    height: 9px;
    border-top: 3px solid #eeeeee;
    border-right: 3px solid #eeeeee;
    border-bottom: 0;
    transform: rotate(-135deg);
  }
  & .carousel .control-next.control-arrow:before {
    width: 9px;
    height: 9px;
    border-top: 3px solid #eeeeee;
    border-right: 3px solid #eeeeee;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
  }
}
