@import "../../styles/shared.scss";

.order {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    &-wrapper {
      padding: 32px 64px;
    }

    &-breadcrumbs {
      padding: 8px 64px;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
    }
  }

  &__content {
    padding-left: 64px;
    flex: 1;
    display: flex;
    justify-content: space-between;

    &-main {
      flex: 1;
    }

    &-summary {
      flex: 1;
      max-width: 384px;
      border-left: 1px solid #eeeeee;
    }
  }
}

@media screen and (max-width: $desktop-min) {
  .order {
    &__header {
      &-wrapper {
        // padding: 0;
      }
    }

    &__content {
      align-items: flex-start;
      flex-direction: column;

      &-summary {
        border: none;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .order {
    &__header {
      &-wrapper {
        padding: 0;
      }

      &-breadcrumbs {
        padding: 8px 16px;
      }
    }

    &__content {
      padding: 16px;
    }
  }
}
